@use '../../sass/mixins' as *;

.country-detailed {
    .back-link {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: #3b82f6; /* azul bonito */
        font-weight: 500;
        text-decoration: none;
        transition: color 0.2s ease;
      }
      
      .back-link::before {
        content: "←";
        font-size: 1rem;
      }
      
      .back-link:hover {
        color: #2563eb; /* azul más fuerte */
      }

    h2 {
        font-size: clamp(1.25rem, 2vw + 0.5rem, 2.5rem);
    }
    .data-container {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-sizing: border-box;
      gap: 20px;
  
      .card {
        padding: 10px;
        border-radius: 10px;
  
        /* por defecto (dark mode) */
        background-color: #1e1e1e;
        color: #e0e0e0;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
        transition: background-color 0.3s ease, color 0.3s ease;

        &.geography {
            ol {
                list-style: none;
                padding: 0;
                li {
                    margin-left: 20px;
                    position: relative;
                    padding-left: 10px;
                    &::before {
                        content: "-"; // el guion
                        position: absolute;
                        left: 0;
                      }
                }
            }
        }

        span {
            font-weight: bold;
        }
      }

      @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
      }
    }
  }
  
  /* En light mode */
  @media (prefers-color-scheme: light) {
    .country-detailed .data-container .card {
      background-color: #ffffff;
      color: #213547;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    }
  }